$red:#d93826;
$yellow:#ffd000;
$green:#4dc62f;
$cyan:#5e9fe8;
$blue:$cyan;
$purple:#A367BB;
$orange:$orange;
$blue-silver:#F0F5F8;
$silver:#e4e4e4;
$gray:#737373;
$black-dark:#2C2C2C;

$success:$green;
$warning:$yellow;
$danger:$red;
$info:$cyan;

$primary:white;
$primary-light:lighten($primary,10);
$primary-dark:darken($primary,10);


$secondary:black;
$secondary-light:lighten($secondary,28);
$secondary-dark:darken($secondary,10);


