@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
@import url('http://dev.hektor.mx/cdn/webkit.css');
@font-face {
  font-family: 'futura_bk_btbook';
  src: url('../fonts/tt0140m_-webfont.woff2') format('woff2'),
       url('../fonts/tt0140m_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura_bk_btbook_italic';
  src: url('../fonts/tt0141m_-webfont.woff2') format('woff2'),
       url('../fonts/tt0141m_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura_md_btmedium';
  src: url('../fonts/tt0142m_-webfont.woff2') format('woff2'),
       url('../fonts/tt0142m_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura_md_btmedium_italic';
  src: url('../fonts/tt0143m_-webfont.woff2') format('woff2'),
       url('../fonts/tt0143m_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura_md_btbold';
  src: url('../fonts/tt0144m_-webfont.woff2') format('woff2'),
       url('../fonts/tt0144m_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura_md_btbold_italic';
  src: url('../fonts/tt0145m_-webfont.woff2') format('woff2'),
       url('../fonts/tt0145m_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'novaregular';
  src: url('../fonts/novabold-webfont.woff2') format('woff2'),
       url('../fonts/novabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}