.divider{
  display: block;
  width: 100%;
  @for $i from 1 through 7{
      &.is-size-#{$i}{
          height:#{$i}rem ;
      }
  }
}

$weight-sizes:100,300,400,500,600,700,800,900;

@each $weight-size in $weight-sizes {
  $i: index($weight-sizes, $weight-size);
  .fw-#{$weight-size} {
    font-weight: $weight-size!important;
  }
}

@for $i from 14 through 28{
  .fz-#{$i}{
      font-size:#{$i}px!important;
  }
}

.has-text-centered{
  text-align: center!important;
}
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  position: relative;

  embed,
  iframe,
  object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


